.imagem {  
  float  : left;  
  margin : 10px;
}

.dados {  
  margin     : 10px;
  padding-top: 20px;  
  height     : 200px;    
}

.livro {
  width  : 130px;
  height : 188px; 
}

.item {
  margin  : 10px;
  display : block;  
}

ul {
  list-style-type : none;
}

.titulo {
  text-align : center;
}

#totalCompra {
  text-align : right;
}

#valorTotal {
  color       : green;
  font-weight : bold;
  font-family : Consolas;
  width       : 100px;
}

#imagem {
  vertical-align : middle;
  margin-left    : 5px;
}

.categorias {
  text-align : center;
}

.categorias ul li {
  display         : inline; 
  margin-left     : 10px;    
  text-transform  : uppercase;    
  border          : 1px solid black;
  padding         : 5px;  
}

.categorias a {
  text-decoration : none;
  color           : black;
}

#inputQtde {
  width : 40px;  
}

.pesquisa {
  text-align : right;
}
