body {
  font-size   : 100%;
  margin      : 0;
  font-family : Calibri;    
}

.cabecalhoRodape {  
  background-color : red;
  color            : white;
  text-align       : center;
  font-style       : normal;
  height           : 100px;
  line-height      : 100px;
  vertical-align   : middle;  
}

.cabecalhoRodape h1 {
  margin-top : 0;
  font-size  : 3em;
}

.cabecalhoRodape h2 {
  margin-bottom : 0;
  font-size     : 2em;
}

h1, h2, h3, h4, h5, h6, p {
  margin : 1%;
}
